@CHARSET "UTF-8";
.chatRoom{
	margin:0px;
	padding:0px;
	width:100%;
	heigth:100%;
	border:1px solid red;
	font-size:20px;
}
h1,h2,h3{
	text-align:center;
}
a{
	text-decoration: none;
	/*color:black;*/
}
ul li{
	/* list-style-type: none; */
}
.chatRoom .left{
	border:1px solid pink;
	width:10%;
	height:100%;
	float:left;
}
.chatRoom .right{
	border:1px solid blue;
	float:left;
	width:50%;
	height:100%;
}
.right textarea{
	width:660px;
	height:290px;
}